
.iti__flag {
	background-image: url("../img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.iti__flag {
		background-image: url("../img/flags@2x.png");
	}
}
/* ============================================================== */
[class*="__container"] {
	max-width: 1170px;
	margin: 0px auto;
	padding: 0px 15px;
}
.wrapper{	
	min-height: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
}


.wrapper > main{
	flex: 1 0 auto;
}

body {
	font-family: 'Lato';
	line-height: 1.5;
	font-size: 16px;
	color: rgba(5, 41, 21, 0.7);
	background: #F8F8F8; 
}

/* ===================================header====================== */
.header {
	padding: 20px 0px 0px 0px;
	margin: 0px 0px 100px 0px;
}

.header__container{
}

.header__content {
	display: flex;
	top: 20px;
	max-width: 100%;
	align-items: center;
	row-gap: 40px;
}
.header__logo{
	max-width: 185px;
	display: none;
}
.header__logo img {
	max-width: 100%;
}
.header__logo-1 {
	max-width: 185px;
	
}
.header__logo-1 img {
	max-width: 100%;
}

@media (max-width: 565.98px){
	.header__logo-1{
		display: none;
	}
	.header__logo{
		display: block;
	}
	.header__content{
	align-items: center;
	flex-direction: column; 
	}
}
.header__menu {}

.menu {
	display: flex;
	flex: 1 1 100%;
	justify-content: center;
	align-items: center;
}

.menu__icon {}

.icon-menu {}

.menu__body {}

.menu__list {
	display: flex;
	column-gap: 40px;
	justify-content: center;
	flex: 1 1 100%;
	flex-wrap: wrap;
}

.menu__item {
	font-weight: 700;
	line-height: 1.6;
	position: relative;
	
}
.menu__item::after,
.menu__item::before{
	content: '';
	display: block;
	width: 50%;
	height: 1px;
	position: absolute;
	background-color: #2E8B57;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
}
.menu__item::after{
	top: 100%;
	left: 100%;
}
.menu__item::before{
	top: 100%;
	right: 100%;
}
.menu__item:hover::before{
	transform: translate(102%,0px);
	visibility: visible;
	opacity: 1;
}
.menu__item:hover::after{
	transform: translate(-102%,0px);
	visibility: visible;
	opacity: 1;
}
.menu__item:hover .menu__link{
	color: #2E8B57;
}

.menu__link {
	color: rgba(5, 41, 21, 0.7);
	transition: all 0.3s ease 0s;
}

@media (max-width: 767.98px){
	.header__content{
		row-gap: 20px;
	}
	.menu__list{
	row-gap: 10px;
	column-gap: 20px;
	}
}
@media (max-width: 409.98px){
.menu__list{
	flex-direction: column;
	}
}

/* ====================main========================== */
.main {
	margin: 0px 0px 140px 0px;
}

.main__container {
	display: flex;
	flex-direction: column;
	row-gap: 140px;
}
@media (max-width: 767.98px){
	.main__container {
	row-gap: 50px;
}
.main {
	margin: 0px 0px 80px 0px;
}
}
/* ======================jaguar========================== */

.main__jaguar {}

.jaguar {
	position: relative;
	z-index: 0;
}
.jaguar::after {
	content: '';
	display: block;
	position: absolute;
	top: 99.6%;
	width: 99%;
	border-bottom: 2px solid rgba(5, 41, 21, 0.2);
	z-index: 1;
}

.jaguar__row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 55;
}

.jaguar__column {
	display: flex;
}
.jaguar__column:nth-child(1){
		flex: 1 1 60%;
		flex-direction: column;
		justify-content: center;
		padding: 0px 15px 0px 0px;
}
.jaguar__column:nth-child(2){
		flex: 1 1 40%;
	justify-content: flex-end;
}

.title{
	font-weight: 900;
	font-size: 50px;
	line-height: 1.2;
}
.jaguar__title {
	margin: 0px 0px 40px 0px;
	
}
.title span{
	color: #2E8B57;
}

.jaguar__buttons {
	display: flex;
	align-items: center;
	min-height: 70px;
}
.jaguar__buttons--1{
	display: none;
}
.jaguar__button {}

.button {
	margin: 0px 40px 0px 0px;
	transition: all 0.3s ease 0s;
	max-width: 200px;
	min-height: 60px;
}

.button__link {
	color: #fff;
	display: block;
	background-color: #2E8B57;
	padding: 15px 30px;
	font-size: 18px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
}
.button__link:hover{
	color: #2E8B57;
	outline: 1px solid #2E8B57;
	background-color: transparent;
}

.button-play {
	padding: 0px 0px 0px 90px;
	position: relative;
	
}
.button-play::after{
	content: '';
	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	animation: pulse 2s infinite alternate linear;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(46, 139, 86, 0.5);
	top: -15px;
	left: 20px;
}
.button-play__link {
	position: relative;
	letter-spacing: 2%;
	font-size: 18px;
	color: #2E8B57;
}

.button-play__link::after,
.button-play__link::before {
	content: '';
	display: block;
	width: 50%;
	height: 1px;
	position: absolute;
	background-color: #2E8B57;
	transition: all 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
}

.button-play__link::after {
	top: 150%;
	left: 100%;
}

.button-play__link::before {
	top: 150%;
	right: 100%;
}

.button-play__link:hover::before {
	transform: translate(102%, 0px);
	visibility: visible;
	opacity: 1;
}

.button-play__link:hover::after {
	transform: translate(-102%, 0px);
	visibility: visible;
	opacity: 1;
}
.button-play__link span::after,
.button-play__link span::before{
	content: '';
	display: block;
	position: absolute;
}
.button-play__link span::after{
	width: 50px;
	height: 50px;
	border: 1px solid #2E8B57;
	border-radius: 50%;
	top: -15px;
	left: -70px;
	background-color: #F8F8F8;
	z-index: 2;
}
.button-play__link span::before{
	border-top: 10px solid transparent;
	border-left: 15px solid #2E8B57;
	border-bottom: 10px solid transparent;
	border-radius: 2px;
	top: 0px;
	left: -50px;
	z-index: 5;
}
.jaguar__image {
	max-width: 500px;
	max-height: 700px;
}
.jaguar__image img{
	max-width: 100%;
	border-radius: 10px;
}
@keyframes pulse {
	0% {
		
	}
	100% {
		transform: scale(1.2);
		visibility: visible;
		opacity: 1;
		
	}
}
@media (max-width: 857.98px){
	  .header{
		margin: 0px 0px 50px 0px;
	  }
	  .jaguar__button{
		margin: 0px 20px 0px 0px;
	  }
}
@media (max-width: 825.98px){
	.jaguar__title{
		font-size: 40px;
	}
	.button__link{
		padding: 10px 15px;
	}
	.jaguar__buttons a,
	.button a{
		font-size: 14px;
	}
	.button{
		max-width: 140px;
	}
	.button{
		min-height: 40px;
	}
	.button-play::after{
		top: -9px;
	}
	.button-play {
		padding: 0px 0px 0px 70px;
		display: flex;
		align-items: center;
	}
	.button-play::after{
		top: -15px;
		left: 5px;
	}
	.button-play__link span::after{
		left: -65px;
	}
	.button-play__link span::before{
		left: -45px;
	}
}
@media (max-width: 637.98px){
	.title{
	font-size: 30px;
	}
	.jaguar__buttons{
		display: none;
	}
	.jaguar__buttons--1{
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.button-play{
		padding: 0px 0px 0px 70px;
	}
	.button-play::after{
	left: 5px;
	top: -15px;
	}
	.button-play__link span::before{
		top: 0px;
	}
	.button-play__link span::after{
		top: -15px;
	}
	.jaguar__row{
		row-gap: 20px;
	}
}
@media (max-width: 513.98px){
	.jaguar__row{
		flex-direction: column;
		row-gap: 20px;
	}
	.header {
	margin: 0px 0px 30px 0px;
	}
	.jaguar__title {
    margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 381.98px){
	.jaguar__buttons--1{
		flex-direction: column;
		row-gap: 30px;
	}
	.jaguar::after {
	 top: 104%;
	}
}
/* =======================job============================= */
.main__job {}

.job {}

.job__row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	z-index: 222;
}

.job__column {
	flex: 1 1 50%;
	z-index: 55;
}
.job__column:nth-child(1){
	flex: 1 1 30%;
	padding: 0px 15px 0px 0px;
	align-self: center;
}
.job__column:nth-child(2){
	display: flex;
	justify-content: flex-end;
}
.job__text {
	margin: 0px 0px 40px 0px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	font-size: 20px;
}

.job__button {}

.button {}

.button__link {}

.job__video {
	max-width: 600px;
	border-radius: 10px;
	overflow: hidden;
	max-height: 320px;
}
.video{
	min-height: 100%;
}
.job__decor-1 {
	width: 204px;
	height: 204px;
	background-color: rgba(46, 139, 86, 0.05);
	border-radius: 0 0 0 100%;
	position: absolute;
	top: 160px;
	left: 480px;
}

.job__decor-2 {
	width: 184px;
	height: 184px;
	background-color: rgba(46, 139, 86, 0.05);
	border-radius: 50%;
	position: absolute;
	top: -35px;
	left: 1020px;
}
.job__decor-2::after {
	content: "";
	display: block;
	width: 114px;
	height: 114px;
	background-color: rgba(46, 139, 86, 0.1);
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: 30px;
}
@media (max-width: 923.98px){
	.job__row{
		flex-direction: column;
	}
	.job__row{
	}
	.job__column:nth-child(2){
		justify-content: flex-start;
		margin: 0px 0px 40px 0px;
		align-self: center;
}
	  
}
@media (max-width: 590px){
	.video{
		max-width: 400px;
		max-height: 250px;
	}
	  
}
@media (max-width: 429.98px){
	.video{
		max-width: 380px;
		max-height: 200px;
	}
	  
}
@media (max-width: 411.98px){
	.video{
		max-width: 280px;
		max-height: 180px;
	}
	  
}

/* ===============================cards============================ */

.main__cards {}

.cards {}

.cards__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	row-gap: 30px;
}

.cards__column {
	display: flex;
	flex: 0 1 33.333%;
	padding: 0px 15px;
}
.cards__item {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 23px;
	transition: all 0.3s ease 0s;
}
.cards__item:hover{
	transform: scale(1.02);
}
.cards__icon {
	max-width: 100px;
	min-height: 100px;
	background: #2E8B57 ;
	border-radius: 50%;
	overflow: hidden;
	border: 1px solid rgba(0, 0, 0, 0.05);
}
.cards__icon img{
	width: 100%;
}
.cards__text {
	text-align: center;
}
@media (max-width: 823.98px){
 .cards__column {
	flex: 1 1 50%;
	}
}
@media (max-width: 513.98px){
 .cards__column {
	flex: 1 1 100%;
	}
}

/* =======================slider============================ */
.main__slider {
	 min-width: 0;
}
.slider__row{
	display: flex;
	margin: 0px 0px 60px 0px;
}
.slider__title{
	position: relative;
	padding: 0px 15px 0px 85px;

}
.slider__title::before{
	content: '';
	display: block;
	width: 70px;
	height: 3px;
	background-color: rgba(46, 139, 86, 0.5);
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.03);
	position: absolute;
	top: 25px;
	left: 0;
}
.swiper {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.swiper-wrapper {}
.swiper-slide {}

.swiper-slide__image {}

.swiper-slide__image img{
	width: 100%;
}
.swiper__buttons{
	display: flex;
	gap: 40px;
	align-self: center;
}
.swiper__button-prew,
.swiper__button-next {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
	z-index: 55;
	opacity: 0.5;
}
.swiper__button-prew{
	background: url('../img/icons/arrow-left.svg') center/30px no-repeat;
}
.swiper__button-next{
	background: url('../img/icons/arrow-right.svg') center/30px no-repeat;
}
.swiper__button-prew:hover{
	background:url('../img/icons/arrow-left.svg') center/30px no-repeat, #FFFFFF;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.03);
	opacity: 1;
}
.swiper__button-next:hover{
	background:url('../img/icons/arrow-right.svg') center/30px no-repeat, #FFFFFF;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.03);
	opacity: 1;
}

@media (max-width: 799.98px){
	  .slider__title{
		font-size: 40px;
	  }
}
@media (max-width: 767.98px){
	.slider__row{
	margin: 0px 0px 30px 0px;
	}
	.swiper__buttons{
		gap: 20px;
	}
}
@media (max-width: 683.98px){
	  .slider__row{
		flex-direction: column;
		row-gap: 10px;
	  }
}
@media (max-width: 517.98px){
	  .slider__title{
		font-size: 30px;
	  }
	  .swiper__buttons{
		gap: 10px;
	}
	.swiper__button-prew,
	.swiper__button-next {
	width: 42px;
	height: 42px;
	}
	.slider__title::before{
		display: none;
	}
	.slider__title{
		padding: 0px 0px;
	}
}

/* ====================description======================= */
.main__description {}

.description {
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
}
.description__content{
	flex: 1 1 50%;
	margin: 0px 0px 30px 0px;
}
.description__subtitle {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px 0px 20px 0px;
}

.description__title {
	text-transform: uppercase;
}

.description__pretitle {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
.description__label{
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
}
.description__label span{
	text-transform: none;
	font-weight: 900;
}

.description__text {
	font-size: 25px;
	font-weight: 700;
	margin: 0px 0px 30px 0px;
}
.description__text-2{
	font-size: 20px;
}
.description__text-2:not(:last-child){
	margin: 0px 0px 20px 0px;
}
.description__body{
}
.description__list {
	margin: 0px 0px 30px 0px;
}
.list{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 0px 15px 0px 0px;
}
.item{
	position: relative;
	padding: 0px 0px 0px 30px;
	font-size: 20px;	
}
.description__image{
	max-width: 600px;
	display: none;
}
.description__image img{
	width: 100%;
	border-radius: 10px;
}
.description__item::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: url('../img/icons/check.svg')center/cover no-repeat;
	position: absolute;
	top: 5px;
	margin: 0px 0px 0px -30px;
}
@media (max-width: 637.98px){
	.description__pretitle {
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	}
	.description__image{
		display: block;
		margin: 0px 0px 20px 0px;
	}
}

/* ==========================other========================= */
.description__other {}

.other {
	display: flex;
	flex: 1 1 50%;
}

.other__image {
	flex: 1 1 50%;
	max-width: 600px;
}
.other__image img{
	width: 100%;
	border-radius: 10px;
}
.other__content {
	flex: 1 1 50%;
	padding: 0px 0px 0px 50px;
}

.other__title {
	font-size: 25px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
}

.other__list {}
.other__item {}

.other__item::before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background: #2E8B57;
	position: absolute;
	top: 15px;
	margin: 0px 0px 0px -30px;
}

@media (max-width: 891.98px){
	.other{
		flex-direction: column-reverse;
		row-gap: 20px;
	}
	.other__content{
		padding: 0px 0px;
	}
}
/* =============form================================= */
.shape{
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 23px 15px;
	display: flex;
	justify-content: center;
}
.shape__body{
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	max-width: 600px;
}
.shape__title{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.form__item {
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	width: 100%;
}

.form__label{
	display: block;
	margin: 0px 0px 5px 10px;
}
.input {
	padding: 15px ;
	font-size: 20px;
	color: inherit;
	border-radius: 10px;
	border: 1px solid rgba(46, 139, 86, 0.3);
	width: 100%;
}
.input:focus{
	box-shadow: 0px 0px 20px rgba(46, 139, 86, 0.3);
}
.input::placeholder{
	font-size: 16px;
}
.form__item:last-child {
	justify-content: center;
}

.g-recaptcha {
	width: 200px;
}

.form__button{
	color: #fff;
	display: block;
	background-color: #2E8B57;
	padding: 15px 30px;
	font-size: 18px;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	text-transform: uppercase;
	max-width: 200px;
}
.form__button:hover {
	color: #2E8B57;
	outline: 1px solid #2E8B57;
	background-color: transparent;
}

@media (max-width: 813.98px){
	.shape{
		flex-direction: column;
		row-gap: 10px;
	}
	.form{
		padding: 0px 0px 0px 0px;
		row-gap: 10px;
	}
	.shape__image{
		max-height: 100px;
	}
}
@media (max-width: 545.98px){
	.form{
		flex-direction: column;
	}
	.shape__image{
		display: none;
	}
}
@media (max-width: 657.98px){
	.shape__title{
		font-size: 25px;
	}
	.shape__body{
		row-gap: 30px;
	}
	.input::placeholder{
		font-size: 14px;
	}
}
/* =======================footer============================= */
.footer{
	padding: 0px 15px;
	background: #E5E5E5;
}

.footer__container {
	padding: 15px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__image {
	max-width: 185px;
	min-height: 45px;
}
.footer__image img{
	max-width: 100%;
}

.footer__link {
	color: rgba(5, 41, 21, 0.7);
}
@media (max-width: 550px){
	.footer__container{
		flex-direction: column;
		row-gap: 5px;
	}
}